.friends {
	background: var(--light-l);
	text-align: center;
}

.slider {
	position: relative;
	margin: 0 0 60px;
}

.slider__container {
	margin: 0 60px;
	overflow: hidden;
	position: relative;
}

.slider__cards {
	position: relative;
	left: -1080px;
	display: flex;
}

.slider__cards_prev,
.slider__cards_main,
.slider__cards_next {
	min-width: 1080px;
	display: flex;
	/* transition: 0.5s ease-in-out; */
}

.friends h3 {
	margin: 0 0 60px;
}

.slider__arrows {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.slider__arrows > :first-child {
	transform: rotate(180deg);
}

.friends svg {
	width: 14px;
	height: auto;
}

.slider__arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 52px;
	height: 52px;
	border: 2px solid var(--primary);
	border-radius: 50%;
	background: none;
}

.slider__arrow:hover {
	border: 2px solid var(--primary-light);
}

.friends .content__container > a {
	font: inherit;
	outline: none;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 1.02px;
	padding: 13px 43px;
	border: 2px solid var(--primary);
	border-radius: 100px;
	color: var(--dark-3xl);
	background: var(--primary);
	display: block;
	margin: 0 auto;
	width: fit-content;
}

.friends .content__container > a {
	border: 2px solid var(--primary);
	background: var(--primary);
}

.friends .content__container > a:hover {
	border: 2px solid var(--primary-light);
	background: var(--primary-light);
}

@media screen and (max-width: 1279px) {
	.slider__container {
		margin: 0 44px;
	}

	.slider__cards_prev,
	.slider__cards_main,
	.slider__cards_next {
		width: 620px;
	}

	.slider__arrows {
		transform: translate(0, -50%);
	}
}

@media screen and (max-width: 767px) {
	.friends h3 {
		margin: 0 0 42px;
	}

	.slider {
		position: relative;
		margin: 0 0 42px;
	}

	.slider__cards_prev,
	.slider__cards_main,
	.slider__cards_next {
		width: 460px;
	}

	.slider__arrows {
		position: relative;
		width: calc(100% - 116px);
		left: 50%;
		transform: translate(-50%);
	}

	.slider__container {
		position: relative;
		margin: 0 0 20px;
	}
}

@media screen and (max-width: 482px) {
	.slider__cards_prev,
	.slider__cards_main,
	.slider__cards_next {
		width: 300px;
	}
}
/* 
.transition-right {
	transition: 0.5s;
	transform: translate(1080px);
}

.transition-left {
	transition: 0.5s;
	transform: translate(-1080px);
} */

@keyframes move-right {
	from {
		left: -1080px;
	}
	to {
		left: -2160px;
	}
}

.transition-next {
	animation-name: move-right;
	animation-duration: 0.5s;
}

@keyframes move-left {
	from {
		left: -1080px;
	}
	to {
		left: 0px;
	}
}

.transition-prev {
	animation-name: move-left;
	animation-duration: 0.5s;
}
