.slider__card {
	text-align: center;
	min-width: calc(33.33333% - 90px);
	padding: 0 0 30px;
	margin: 0 45px;
	background: var(--light-s);
	border-radius: 9px;
	transition: 0.25s;
}

.slider__card img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.friends h4 {
	margin: 30px 0;
}

.slider__card-button {
	border: 2px solid var(--primary);
	background: none;
	margin: auto;
}

.slider__card-button:hover {
	border: 2px solid var(--primary-light);
	background: var(--primary-light);
}

.hovered-card {
	cursor: pointer;
	background: var(--light-xl);
}

.hovered-button {
	cursor: pointer;
	background: var(--primary-light);
}

@media screen and (max-width: 1279px) {
	.slider__card {
		margin: 0 20px;
		min-width: calc(50% - 40px);
	}
}

@media screen and (max-width: 767px) {
	.slider__card {
		min-width: calc(100% - 30px);
		padding: 0 0 30px;
		margin: 0 15px;
	}
}
