.slider__arrow:disabled {
	border: 2px solid var(--dark-s);
}

.slider__arrow:disabled > span {
	color: var(--dark-s);
}

.slider__arrow:disabled path {
	fill: var(--dark-s);
}

.slider__arrow:disabled:hover {
	border: 2px solid var(--dark-s);
	background: none;
	cursor: auto;
}
